theme: jekyll-theme-chirpy

lang: en
timezone: Africa/Cairo

title: Eslam Hesham
tagline: System Security Engineer | SOC & Blue Team
description: >-
  System Security Engineer | Blue Team | SOC Analyst | SOC Engineering | Security Monitoring, Detection Engineering & Incident Investigation

url: "https://eslamhesham01.github.io"
baseurl: ""

github:
  username: EslamHesham01

social:
  name: Eslam Hesham
  links:
    - https://github.com/EslamHesham01
    - https://www.linkedin.com/in/eslam-hesham-5b65211b9

avatar: /assets/img/profile.jpg
theme_mode: dark
toc: true

paginate: 10

# ❗ مهم: provider لازم يبقى null مش ""
pageviews:
  provider: null

comments:
  provider: null

pwa:
  enabled: true
  cache:
    enabled: true

collections:
  tabs:
    output: true
    sort_by: order

defaults:
  - scope:
      path: ""
      type: posts
    values:
      layout: post
      comments: false
      toc: true
      permalink: /posts/:title/
  - scope:
      path: _drafts
    values:
      comments: false
  - scope:
      path: ""
      type: tabs
    values:
      layout: page
      permalink: /:title/

sass:
  style: compressed

compress_html:
  clippings: all
  comments: all
  endings: all
  blanklines: false
  ignore:
    envs: [development]

jekyll-archives:
  enabled: [categories, tags]
  layouts:
    category: category
    tag: tag
  permalinks:
    tag: /tags/:name/
    category: /categories/:name/
